.navbar-inverse {
    background-color: #cef6
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF
}

.nav navbar-nav navbar-left {
    color: #000000
}

.navbar-inverse .navbar-nav>li>a {
    color: #000000
}